<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sample Test Suite">
    <test name="chrome">
        <parameter name="browser" value="chrome"></parameter>
        <packages>
            <package name="apimarket"/>
        </packages>
    </test>
    <!--test name="firefox">
        <parameter name="browser" value="firefox"></parameter>
        <packages>
            <package name=".*"/>
        </packages>
    </test-->
</suite>